
{:source-paths ["src"]
 :dependencies [[respo          "0.6.2"]
                [respo/tiny-app "0.2.0-alpha"]]
 :builds {:app {:target :browser
                :output-dir "target/"
                :asset-path "."
                :modules {:main {:entries [app.main]}}
                :devtools {:after-load app.main/reload!}}}}
